.productos-principal {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem;
}

header {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  margin-top: 2rem;
}

.productos-principal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: black;
}

.productos-principal img {
  margin-top: 3rem;
  margin: 10px;
  border: 2px;
  border-radius: 10px;
}

.carousel {
    display: flex;
  max-width: 800px;
  margin: 50px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel img {
    display: flex;
  border-radius: 10px;
}

.carousel-item {
    display: flex;
  height: 500px;
}

.carousel-item img {
    display: flex;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.carousel-caption {
    display: flex;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 1rem;
  text-align: left;
}

.sidebar-game {
    display: flex;
  background-color: #1a1a1a;
  border-radius: 8px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.sidebar-game:hover,
.sidebar-game.active {
    display: flex;
  background-color: #333;
  cursor: pointer;
}

.sidebar-game img {
    display: flex;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.news img {
  justify-content: space-around;
  display: flexbox;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
}

.opinions{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  background-color: #39FF14;
  font-family: 'Roboto', sans-serif;
  color: #1E90FF;
}

.button:hover {
  background-color: #32CD32;
  color: gray;
}