.productos-principal{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3rem;
}
header{
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    margin-top: 2rem;
}

.productos-principal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}

.productos-principal img {
    margin-top: 3rem;
    margin: 10px;
    border: 2px;
    border-radius: 10px;
}

.carousel{
    max-width: 300px;
    margin: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.carousel img {
    border-radius: 10px;
}